th,
td {
  border: 1px solid black;
  padding: 10px;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
}

#john {
  color: brown;
}

.head {
  color: blue;
}

.input_box {
  width: 74ch;
  height: 5ch;
  border-radius: 30px;
}

input::placeholder {
  color: gray;
  font-size: 1.2em;
  font-style: italic;
  padding-left: 20px;
}

/* .image {
  padding-left: 50px;
} */

.search_part {
  margin-top: 10px;
}
